.App {
  min-height: 100vh;
  font-size: 12px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;

  display: flex;
  gap: 50px;

  background-color: rgb(33, 38, 39);
  color: rgba(255, 255, 255, 0.688);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}
